.post{
    max-width: 500px;
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 6px;
    margin-bottom: 45px;

}
.post__header{
    display: flex;
    align-items: center;
    padding: 20px;
}
.post__avatar{
    margin-right: 10px;
    
}
.post__image{
    width: 100%;
    object-fit: contain;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}
.post__text{
    font-weight: normal;
    padding: 20px;

}

.post__input{
    border: 2px solid rgb(205, 209, 221);
   border-radius: 25px;
   margin-bottom: 3px;


}

.post__button{
    border: 2px solid rgb(205, 209, 221);
   border-radius: 25px;
   color: whitesmoke;
   background-color: rgb(24, 112, 219);
   cursor: pointer;
}

.comment__style{
    background-color:#e9edee;
    border: 1px solid rgb(247, 246, 246);
    justify-content:space-between;
    padding: 4px;
    margin: 4px;
    border-radius: 20px;
   font-family:cursive

}

